<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse"  aria-expanded="false" aria-controls="ui-basic"routerLink="/CreateCourse"  >
       <i class="icon-paper menu-icon"></i>
       <span class="menu-title">CreateCourse devops projet </span>
     </a>
   </li>

   <li class="nav-item">
    <a class="nav-link" data-toggle="collapse"  aria-expanded="false" aria-controls="ui-basic"routerLink="/Allcourses"  >
     <i class="icon-paper menu-icon"></i>
     <span class="menu-title">Allcourses </span>
   </a>
 </li>


    
  </ul>
</nav>


